body {
    /* background: url(../../img/background1.jpg); */
    font-family: 'Piazzolla', serif;
    height: 100%;
    background-color: #2f435b;
}

.margens-internas {
    padding: 0%;
}

.cabecalho {
    display: flex;
    justify-content: flex-start;
    background: #9cb5c0;
    width: 100vw;
}

.navegacao {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    align-items: stretch;
    border: solid 2px black;
}

.navegacao a {
    flex-grow: 1;
    text-align: center;
    border: solid 2px green;
    text-decoration: none;
}

.container {
    font: 400;
}