body {
    /* background: url(../../img/background1.jpg); */
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    background-color: #2f435b;
}

.margens-internas {
    padding: 0%;
}

.cabecalho {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    background: #9cb5c0;
    width: 100vw;
    border-bottom: solid 3px rgba(255, 255, 255, 0.8) ;
}

.navegacao {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    align-items: stretch;
    /* border: solid 2px black; */
}

.navegacao a {
    flex-grow: 1;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2f435b;
    /* color: rgba(204, 86, 86, 0.8) */
    /* border: solid 2px green; */
}

.navegacao a:hover {
    color: #ffffff;
    background-color: #2f435b;
}

.container {
    font: 400;
}